{% extends 'base.html' %}
{% load static %}


{% block title %}Superuser Dashboard{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Welcome, {{ user.username }}</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Your Role</h5>
                        <p class="card-text">Super User</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Quick Actions</h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'manage_teachers' %}" class="text-decoration-none">Manage Teachers</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'manage_students' %}" class="text-decoration-none">Manage Students</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'manage_tasks' %}" class="text-decoration-none">Manage Tasks</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'list_salary_reports' %}" class="text-decoration-none">Salary Reports</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'create_salary_report' %}" class="text-decoration-none">Create New Salary Report</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'change_password' %}" class="text-decoration-none">Change Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
